<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Weather App</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    body {
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }
    form {
      margin-top: 2rem;
      max-width: 500px;
    }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Weather App</a>
</nav>
<div class="container text-center">
  <h1 class="display-4 mt-5">Get Weather Data</h1>
  <form method="post" class="mx-auto" th:action="@{/weather}">
    <div class="form-group">
      <label for="city" class="sr-only">City:</label>
      <input type="text" id="city" name="city" class="form-control form-control-lg text-center" placeholder="Enter city name">
    </div>
    <button type="submit" class="btn btn-primary btn-lg mt-3">Get Weather</button>
  </form>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MmbPpV7ltHBDG1c2VljvAk/0A7Itq9gEjrqxS8jKwOZ4QFZ1pe4/Zv4jI4i+0caD"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
