<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Weather Data for [[${city}]]</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <!-- Weather Icons CSS -->
  <link th:href="@{/css/weather-icons.min.css}" rel="stylesheet" />

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }


    .icon-large {
      font-size: 12rem;
      color: #0066cc;
    }

  </style>
</head>
<body>
<div class="container text-center">
  <h1 class="display-4 mt-4 mb-5">Weather Data for [[${city}]]</h1>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <i th:class="'wi wi-owm-' + ${weather.weather[0].id} + ' icon-large mb-3'"></i>
      <p class="lead font-weight-bold text-uppercase text-muted">Temperature:</p>
      <p class="display-4 font-weight-bold text-info">[[${weather.main.temp}]]&deg;F</p>
      <p class="lead font-weight-bold text-uppercase text-muted">Description:</p>
      <p class="lead font-weight-bold text-capitalize">[[${weather.weather[0].description}]]</p>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MmbPpV7ltHBDG1c2VljvAk/0A7Itq9gEjrqxS8jKwOZ4QFZ1pe4/Zv4jI4i+0caD"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
