<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Weather Data for [[${city}]]</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <!-- Weather Icons CSS -->
  <link th:href="@{/css/weather-icons.min.css}" rel="stylesheet" />

  <style>
    body {
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }
    .icon-large {
      font-size: 12rem;
      color: #0066cc;
    }

  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Weather App</a>
</nav>
<div class="container text-center">
  <h1 class="display-4 mt-3">Weather Data for [[${city}]]</h1>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <i th:class="'wi wi-owm-' + ${weather.weather[0].id} + ' icon-large mb-3'"></i>
      <p class="lead font-weight-bold text-uppercase text-muted mb-0">Temperature:</p>
      <p class="display-4 font-weight-bold text-info">[[${weather.main.temp}]]&deg;F</p>
      <p class="lead font-weight-bold text-uppercase text-muted">Description:</p>
      <p class="lead font-weight-bold text-capitalize">[[${weather.weather[0].description}]]</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
